<!DOCTYPE html>
<html>
     <head>
        <title>About Us</title>
        <link rel="stylesheet" href="styles.css">
    </head>
     <body id="show">
         <header class="main-header">
                <nav class="nav main-nav">
                    <ul>
                        <li><a href="Home Page.html">HOME</a></li>
                        <li><a href="About us.html">ABOUT US</a></li>
                        <li><a href="Credits.html">CREDITS</a></li>
                    </ul>
                </nav>
                <h1 class="navarasa navarasa-large"> #PROJECT NAVARASA</h1>
            </header>
            <section class="content-section  container">
                <h2 class="section-header">ABOUT US</h2>
                <p class="work">
                    <img class="about-group"src="Just images\Hari.jpg" width="200">
                    Hello Guys I am Hari Prasath.I helped my 
                    group in html and python code.I also
                    coordinated with my teammates to make this
                    project happen.
                </p>
                <p class="work1">
                    <img class="about-group1"src="Just images\sujan(1).jpg"width="200">
                    Hello my customers I am Sujan I helped my
                    team in connecting databases with
                    mysql and flask-sql-alchemy.
                </p>
                <p class="work2">
                    <img class="about-group2"src="Just images\Prasanna(1).jpg"width="200">
                    Hello viewers I am Prasanna I helped 
                    my group in designing our web page with html and css.
                </p>
            </section>
        </body> 
</html>
 