<html>
    <head>
        <title>relationship checker for shringara</title>
    </head>
    <body>
        <p>relation ship for shringara</p>
        <P>{{ strshringara }}</P>
        <p>
            <form name="formkshbdvjkhbsdfbv" method="POST" target="_blank" required>
            <p>you didnt include the relation ship properly</p>
            <p>please include again</p>
            <div>
            <label>include here:</label>
            </div>
            <div>
            <label>father</label>
            <input name="inpo_all_in_all_shringara" value="father" type="checkbox" placeholder="type here!" />
            </div>
            <div>
                <label>mother</label>
                <input name="inpo_all_in_all_shringara" value="mother" type="checkbox" placeholder="type here!" />
                </div>
                <div>
                    <label>son</label>
                    <input name="inpo_all_in_all_shringara" value="son" type="checkbox" placeholder="type here!" />
                    </div>
                    <div>
                        <label>daughter</label>
                        <input name="inpo_all_in_all_shringara" value="daughter" type="checkbox" placeholder="type here!" />
                        </div>
                        <div>
                            <label>wife</label>
                            <input name="inpo_all_in_all_shringara" value="wife" type="checkbox" placeholder="type here!" />
                            </div>
                            <div>
                                <label>friend</label>
                                <input name="inpo_all_in_all_shringara" value="friend" type="checkbox" placeholder="type here!" />
                                </div>
                                <div>
                                    <label>mom</label>
                                    <input name="inpo_all_in_all_shringara" value="mom" type="checkbox" placeholder="type here!" />
                                    </div>
                                    <div>
                                        <label>dad</label>
                                        <input name="inpo_all_in_all_shringara" value="dad" type="checkbox" placeholder="type here!" />
                                        </div>
                                        <div>
                                            <label>bro</label>
                                            <input name="inpo_all_in_all_shringara" value="bro" type="checkbox" placeholder="type here!" />
                                            </div>
                                            <div>
        <label>sister</label>
        <input name="inpo_all_in_all_shringara" value="sister" type="checkbox" placeholder="type here!" />
        </div>
        <div>
        <label>uncle</label>
        <input name="inpo_all_in_all_shringara" value="uncle" type="checkbox" placeholder="type here!" />
        </div>
        <div>
        <label>aunty</label>
        <input name="inpo_all_in_all_shringara" value="aunty" type="checkbox" placeholder="type here!" />
        </div>
            <div>
            <button type="submit" formaction="/all_in_all_shringara" name="submit">submit</button>
            <button type="reset"  name="reset">clear</button>
        </div>
    </form>
        </p>
        <p>{% if router!=None and "veera" in router %}</p>  
         <hr></hr>
         <p>{{variable_veera_order}}</p>
         <p><h5>{{strveera}}</h5></p>
         <p>{{variable_veera_intro1}}</p>
         <p>{{variable_veera_intro2}}</p>
         <p>{{variable_veera_dicker}}</p>
         <p>{{variable_veera_last}}</p>
         <p>{% endif %}</p>
         <p>{% if router!=None and  "bhayanka" in router %}</p>  
         <hr></hr> 
         <p>{{variable_bhayanka_order}}</p>
         <p><h5>{{strbhayanka}}</h5></p>
         <p>{{variable_bhayanka_intro1}}</p>
         <p>{{variable_bhayanka_intro2}}</p>
         <p>{{variable_bhayanka_dicker}}</p>
         <p>{{variable_bhayanka_last}}</p>
         <p>{% endif %}</p>
         <p>{% if router!=None and  "hasya" in router %}</p>  
         <hr></hr>
         <p>{{variable_hasya_order}}</p>
         <p><h5>{{strhasya}}</h5></p>
         <p>{{variable_hasya_intro1}}</p>
         <p>{{variable_hasya_intro2}}</p>
         <p>{{variable_hasya_dickers}}</p>
         <p>{{variable_hasya_last}}</p>
         <p>{% endif %}</p>
         <p>{% if router!=None and  "karuna" in router %}</p>   
         <hr></hr>
         <p>{{variable_karuna_order}}</p>
         <p><h5>{{strkaruna}}</h5></p>
         <p>{{variable_karuna_intro1}}</p>
         <p>{{variable_karuna_intro2}}</p>
         <p>{{variable_karuna_dicker}}</p>
         <p>{{variable_karuna_last}}</p>
         <p>{% endif %}</p>
         <p>{% if router!=None and  "adbutha" in router %}</p>  >  
         <hr></hr>
         <p>{{variable_adbutha_order}}</p>
         <p><h5>{{stradbutha}}</h5></p>
         <p>{{variable_adbutha_intro1}}</p>
         <p>{{variable_adbutha_intro2}}</p>
         <p>{{variable_adbutha_dicker}}</p>
         <p>{{variable_adbutha_last}}</p>
         <p>{% endif %}</p>
         <p>{% if router!=None and  "shantha" in router %}</p>  
         <hr></hr>
         <p>{{variable_shantha_order}}</p>
         <p><h5>{{strshantha}}</h5></p>
         <p>{{variable_shantha_intro1}}</p>
         <p>{{variable_shantha_intro2}}</p>
         <p>{{variable_shantha_dicker}}</p>
         <p>{{variable_shantha_last}}</p>
         <p>{% endif %}</p>
         <p>{% if router!=None and  "bibhatsya" in router %}</p>   
         <hr></hr>
         <p>{{variable_bibhatsya_order}}</p>
         <p><h5>{{strbibhatsya}}</h5></p>
         <p>{{variable_bibhatsya_intro1}}</p>
         <p>{{variable_bibhatsya_intro2}}</p>
         <p>{{variable_bibhatsya_dicker}}</p>
         <p>{{variable_bibhatsya_last}}</p>
         <p>{% endif %}</p>   
         <p>{% if router!=None and "raudra" in router %}</p>
         <hr></hr>
         <p>{{variable_raudra_order}}</p>
         <p><h5>{{strraudra}}</h5></p>
         <p>{{variable_raudra_intro1}}</p>
         <p>{{variable_raudra_intro2}}</p>
         {{ lst_raudra_relations }}    
         {% for i,p in dicraudra.items() %}
         <p>
            {% for j in lst_raudra_relations %}
            {% if i==j %}
            story about {{ i }}:
         </p>
         <p>
            {{p}}
         </p>
         {% endif %}
         {% endfor %}
         {% endfor %}  
        <p>all is welllllllllinall</p>
         <p>{{variable_raudra_last}}</p>
         <p>{{ variable_raudra_alliswell}}</p>
         <p>{% endif %}</p>
        <form>
            <button formaction="/all_in_all_shringara">edit the text</button>
        </form> 
    </body>
</html>