<html>
<head>
    <title>
        chooseers
    </title>
</head>
<body>
    <article>
    <form name="hari prasath" method="POST">
        <p>do you want to know about any navarasa:</p>
        <label>yes
            <input type="radio" name="choose1" value="yes"/>
        </label> 
        <label>no  
            <input type="radio" name="choose1" value="no"/>
        </label> 
        <div>
            <button type="submit">submit</button>
            <button type="reset">reset</button>
        </div>
    </form>
 </article>
</body>
</html>