<!DOCTYPE html>
<html>
     <head>
        <title>Credits</title>
        <link rel="stylesheet" href="styles.css">
    </head>
     <body id="show">
         <header class="main-header">
                <nav class="nav main-nav">
                    <ul>
                        <li><a href="Home Page.html">HOME</a></li>
                        <li><a href="About us.html">ABOUT US</a></li>
                        <li><a href="Credits.html">CREDITS</a></li>
                    </ul>
                </nav>
                <h1 class="navarasa navarasa-large"> #PROJECT NAVARASA</h1>
            </header>
            <section class="section-header1">
                <h3 class="section-header1">WE PRAISE OUR KNOWNLEDGE,HARDWORK,DEDICATION & LOYALITY</h3>
                <ol class="val">
                    <li>Vishrudh Raj(class mate)</li>
                    <li><a href="https://www.w3schools.com/" target="_blank">we3schools website</a></li>
                    <li><a href="https://stackoverflow.com/" target="_blank">stacksoverflow website</a></li>    
                    <li><a href="https://www.geeksforgeeks.org/" target="_blank">geeks for geeks website</a></li>
                    <li><a href="https://css-tricks.com/" target="_blank">CSS-TRICKS website</a></li>
                    <li><a href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ" target="_blank">freeCodeCamp YT Channel</a></li>
                    <li><a href="https://www.youtube.com/c/TechWithTim" target="_blank">Tech with Tim YT Channel</a></li>
                    <li><a href="https://www.youtube.com/c/HusainSir" target="_blank">Husain Sir YT Channel</a></li>
                    <li><a href="https://www.youtube.com/c/csPoint" target="_blank">csPoint YT Channel</a></li>
                </ol>
                <h4 class="section-header1">OUR TEAM HONOURS YOU FOR HELPING US 
                    COMPLETE OUR #PROJECT NAVARASA</h4>
            </section>
        </body> 
</html>
 