<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Diary's Input">
        <title>
            Diary's Input
        </title>
        <link rel="stylesheet" href="static/js/css/stylesheets/main.css">
    </head>
    <body class="image">
        <h3>{{ local_time }}</h3>
    <center>
        <header><h2 class="main">Say What Happened?</h2></header>
        <article>
                <form action="." name="hari prasath" method="POST">
                    <label>
                        <textarea class="behind" name="area" cols="100" rows="30" placeholder="WRITE HERE!"></textarea>
                    </label>
                    <div>
                     <span><button formaction="/need" class="colour" type="submit">SUBMIT</button></span>
                     <span><button class="colour1" type="reset">RESET</button></span>
                    </div>
                </form>
        </article>
    </center>
    </body>
</html>