<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>raudra</title>
</head>
<body>
    {{ inpo }}
    <p>----------------------------------------------------------------------raudra</p>
    <p>
        {% for i,p in dicraudra.items() %}
        <p>
           {% for j in inpo %}
           {% if i==j %}
           story about {{j}} :
        </p>
        <p>
           {{p}}
        </p>
        {% endif %}
        {% endfor %}
        {% endfor %} 
        <p>all is well</p>    
        <form>
            <button formaction="/">edit the text</button>
        </form>     
  
</body>
</html>