<html>
    <head>
        <title>relationship checker for shringara</title>
    </head>
    <body>
        <p>relation ship for shringara</p>
        <P>{{ strshringara }}</P>
        <p>
            <form name="formkshbdvjkhbsdfbv" method="POST" target="_blank" required>
            <p>you didnt include the relation ship properly</p>
            <p>please include again</p>
            <div>
            <label>include here:</label>
            </div>
            <div>
            <label>father</label>
            <input name="inpo2" value="father" type="checkbox" placeholder="type here!" />
            </div>
            <div>
                <label>mother</label>
                <input name="inpo2" value="mother" type="checkbox" placeholder="type here!" />
                </div>
                <div>
                    <label>son</label>
                    <input name="inpo2" value="son" type="checkbox" placeholder="type here!" />
                    </div>
                    <div>
                        <label>daughter</label>
                        <input name="inpo2" value="daughter" type="checkbox" placeholder="type here!" />
                        </div>
                        <div>
                            <label>wife</label>
                            <input name="inpo2" value="wife" type="checkbox" placeholder="type here!" />
                            </div>
                            <div>
                                <label>friend</label>
                                <input name="inpo2" value="friend" type="checkbox" placeholder="type here!" />
                                </div>
                                <div>
                                    <label>mom</label>
                                    <input name="inpo2" value="mom" type="checkbox" placeholder="type here!" />
                                    </div>
                                    <div>
                                        <label>dad</label>
                                        <input name="inpo2" value="dad" type="checkbox" placeholder="type here!" />
                                        </div>
                                        <div>
                                            <label>bro</label>
                                            <input name="inpo2" value="bro" type="checkbox" placeholder="type here!" />
                                            </div>
                                            <div>
        <label>sister</label>
        <input name="inpo2" value="sister" type="checkbox" placeholder="type here!" />
        </div>
        <div>
        <label>uncle</label>
        <input name="inpo2" value="uncle" type="checkbox" placeholder="type here!" />
        </div>
        <div>
        <label>aunty</label>
        <input name="inpo2" value="aunty" type="checkbox" placeholder="type here!" />
        </div>
            <div>
            <button type="submit" formaction="/req_relation_shringara" name="submit">submit</button>
            <button type="reset"  name="reset">clear</button>
        </div>
    </form>
        </p>
        <form>
            <button formaction="/">edit the text</button>
        </form> 
    </body>
</html>